@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap'); /* Пример шрифта Uncial Antiqua */

.quote-widget {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
  background-color: #191919;
  background-image: url('Frame-Widget-1.png'); /* Замените 'frame.png' на имя вашего файла */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Добавим немного padding для отступов */
  box-sizing: border-box;
}

.quote-widget blockquote {
  position: relative;
  text-align: center;
  font-family: 'Uncial Antiqua', cursive; /* Используем эльфийский шрифт */
  font-size: 18px;
  color: white;
  padding: 20px;
  z-index: 1;
  white-space: pre-wrap; /* Позволяет тексту переноситься */
}
